<!-- frontend/templates/main_page.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <title>Awesome Main Page</title>
</head>
<body>

<!-- templates/frontend/main_page.html -->
{% include 'frontend/header.html' %}

    <nav>
        <ul>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Latest Updates</h2>
            <p>MNIST - Digit-Recognizer 0 to 9 image classification model test available.</p>
        </section>
    </main>

{% include 'frontend/footer.html' %}

</body>
</html>
